<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bounce Shoot Game</title>

        <style>
            @import url('https://fonts.googleapis.com/css?family=Harmattan');
            body {
                margin: 0;
                padding: 0;
                outline: none;
                overflow-y: hidden;
                font-size: 27px;
                font-family: 'Harmattan', sans-serif;
            }
        </style>

    </head>
    <body>
      {{{body}}}
      {{{_sections.home}}}
      {{{_sections.game}}}
      {{{_sections.rank}}}
        <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
		<script type="text/javascript" src="/p5/p5.js"></script>
    <script type="text/javascript" src="/p5/p5.sound.js"></script>

		<script src="main.js"></script>
    </body>
</html>
