<html>
	<head>
		<meta charset="utf-8">
		<title>Cynthia's To-do List</title>

		<link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
		<style>
			body {
				margin-top: 40px;
				font-family: "Amiko", Helvetica, Sans-serif;
				font-size: 16px;
			}

			button {
				font-family: "Amiko", Helvetica, Sans-serif;
			}
		</style>
		
	</head>
	<body>
		{{{body}}}
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    	{{{_sections.home}}}
    	{{{_sections.add-notes}}}
    	{{{_sections.edit-notes}}}
	</body>

</html>
