<form action="/add" method="post">
	
	<div>
		<input type="text" placeholder="What's your to-do?" 
		name="content" value="{{goal.content}}">
	</div>

	<div>
		<input type="text" placeholder="Add a tag? Ex. Academics"
		name="tag" value="{{goal.tag}}">
	</div>

</form>

<div>
	<p>{{date}}</p>
</div>