{{#each goals}}
<div>
	<p id="content">{{tag}}   {{goal}}</p>
	<p id="createDate">{{create-date}}</p>
	<p id="dueDate">{{due-date}}</p>
</div>

{{/each}}

<div> 
	<p><a href="/add-notes">Add New Notes</a></p>
</div>