{{#section "home"}}
  <style>
    input{
      font-family: 'Harmattan', sans-serif;
      font-size: 27px;
    }
    #container {
      width: 100%;
      height: 100%;
      margin: auto;
      /*border: 1px solid black;*/
    }

    #form {
      width: 20%;
      align-items: center;
      position: relative;
      top: 320px;
      left: 43%;
    }

    #nameInput {
      width: 200px;
      height: 30px;
      top: 0;
      left: 0;
      /*position: fixed;
      margin-top: 300px;
      left: 43%;*/
    }

    #submitBtn {
      width: 50px;
      height: 20px;
      position: absolute;
      top: 55px;
      left: 75px;

      /*position: fixed;*/
      /*margin-top: 360px;*/
      /*left: 48%;*/
    }

    #alertMsg {
      width: 200px;
      height: 20px;
      position: fixed;
      margin-top: 275px;
      left: 42%;
    }

    button {
      text-decoration: none;
      position: relative;
      left: 60px;
      top: 35px;
    }

    #instruction {
        position: absolute;
        top: 100px;
        min-width: 100%;
        text-align: center;
    }

    h1 {
      min-width: 100%;
      position: fixed;
      text-align: center;
      margin-top: 0;
      background-color: #bfbfbf;
      color: #666666;
    }
    h2 {
      font-size: 1em;
      position: fixed;
      left: 48%;
      top: 30px;
      color: #666666;
    }

    @media (max-width: 1000px) {
      #form, #alertMsg {
        left: 38%;
      }
    }

    @media (max-width: 650px) {
      h1 {
        font-size: 1.7em;
      }
      h2 {
        font-size: 0.8em;
      }
      #instruction {
        font-size: 0.8em;
        text-align: left;
        margin-left: 5%;
        margin-right: 5%;
      }

      #form {
        top: 350px;
        left: 35%;
      }
      #alertMsg {
        margin-top: 310px;
        left: 35%;
      }
    }
  </style>

{{/section}}
<div id="container">
    <h1>
      Bounce Shoot Game
    </h1>
    <h2>(AKA Self Destruction)</h2>
    <p id="instruction">
        Hi there, here's how to play. There are two ways to lose: <br>
        stay still, or get hit by a little black bullet your mouse shoots out!<br>
        Avoid self destruction. Good luck!
    </p>
  <div id="form">
    <form id="registerForm" action="/" method="post">

      {{#if message}}
    		<p id="alertMsg" style="color: red">{{message}}</p>
    	{{/if}}

    		<input id="nameInput" type="text" placeholder="Your name?"
    		name="name">

      <input id="submitBtn" type="submit" value="PLAY!">

    </form>
  </form>

  <a href="/rank"><button>Game Record</button></a>
</div>
