{{#section "rank"}}
  <style>
    body {
      overflow-y: visible;
    }

    .container {
      width: 500px;
      margin: 5% 33%;
    }
  </style>
{{/section}}

<div class="container">
    <p> A complete Record of our Players! </p>
  {{#each players}}
      <p>{{name}} : {{score}} secs</p>
      <hr>
  {{/each}}
</div>
